Temp
.vs/UnityGame/FileContentIndex/6ffb89fe-ef43-4aa3-8441-bdf5bec9120c.vsidx
.vs/UnityGame/FileContentIndex
Library/PlayModeViewStates/9d1a2f78357e7db46b12d56acd9c57d9
Library/Search/transactions.db
.vs/UnityGame/v17
